$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$black: #000;

.get-books {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

form {
  display: block;
  font-size: 18px;
}

h1 {
  font-size: 28px;
  text-align: center;
}
